.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #C66FBC 48%, #F7944D);

}

.auth-form, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  
}
@media screen and (min-width: 600px) {
  .auth-form {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}
input {
  margin: 0.5rem 0;
  padding: 1rem;
  border:none;
  border-radius: 10px;
}
button {
  border:none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
.Companies  {
  width: 100%;

}
.Products {
  width: 100%;
}
.table {
  display: block;
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 20px #ccc;
  border-radius: 10px;
  white-space: normal;
  width: 60vh;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}
.table thead {
  background-color: #ccc;
  color: #222; 
}
.table th, .table td {
  padding: 1rem; 
}
.table td{
  border-top: 0.5px solid #ddd;
  
  text-overflow: ellipsis;
}
.table tbody tr:hover {
  background-color: honeydew;
}
.expend {
  width: 9%; 

}

.label {
  border-radius: 3px;
   padding: 0.3rem;
   color: white;
}
.label-draft {
  background-color: #777; 
}
.label-live {
  background-color: #42a942; 
 }
 .label-error {
  background-color: #d9534f;
}
.actions {
  display: flex;
 justify-content: space-around; 
}

.actions svg {
  cursor: pointer; 
}

.delete-btn {
  color: #e10d05; 
}